.main {
  padding-bottom: 31px;
}

.main__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;;
}

.main__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main__item {
  font-family: "Open Sans", "Arial", sans-serif;
  &--interior {
    background-color: @turquoise-light;
  }

  &--toys {
    background-color: @turquoise;
  }
}

.main__link {
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: @white;
}
