.popular-product {
  padding-bottom: 36px;
}

.popular-product__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @turquoise-light;
}

.popular-product__description {
  font-size: 15px;
  line-height: 24px;
  color: @dark-gray;
}

.popular-product__characteristics {
  font-size: 15px;
  line-height: 20px;
  color: @dark-gray;
}

.popular-product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @dark-gray;
}
