@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/opensans.woff) format("woff"), url(../../fonts/opensans.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../../fonts/opensansbold.woff) format("woff"), url(../../fonts/opensansbold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  padding-bottom: 26px;
  padding-right: 30px;
}
.advantages__title {
  padding-bottom: 28px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.advantages__icon {
  padding-bottom: 20px;
}
@media (max-width: 767px) {
  .advantages {
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: minmax(260px, 265px) minmax(320px, 325px);
    grid-template-rows: auto;
    column-gap: 66px;
    row-gap: 60px;
  }
  .advantages__item:nth-child(1),
  .advantages__item:nth-child(2),
  .advantages__item:nth-child(3) {
    grid-column: 1/2;
  }
  .advantages__item:nth-child(1),
  .advantages__item:nth-child(4) {
    grid-row: 1/2;
  }
  .advantages__item:nth-child(4),
  .advantages__item:nth-child(5),
  .advantages__item:nth-child(6) {
    grid-column: 2/3;
  }
  .advantages__item:nth-child(2),
  .advantages__item:nth-child(5) {
    grid-row: 2/3;
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  outline: 2px solid #444444;
  border: none;
  background: inherit;
  color: #444444;
}
@media (max-width: 767px) {
  .button {
    width: 260px;
  }
}
@media (min-width: 768px) {
  .button {
    width: 230px;
  }
}
.contacts {
  padding-bottom: 39px;
}
.contacts__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.contacts__info {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  list-style-type: none;
}
.contacts__description-link {
  text-decoration: none;
  color: #444444;
}
.contacts__container {
  display: flex;
  flex-direction: column;
}
.contacts__title {
  padding-bottom: 28px;
}
.contacts__name {
  min-width: 76px;
}
.contacts__info {
  display: flex;
  flex-direction: row;
}
.contacts__button-wrapper {
  padding-left: 30px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
  .contacts__info {
    min-width: 335px;
  }
  .contacts__name {
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__description {
    font-size: 17px;
    line-height: 30px;
  }
  .contacts__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts__button-wrapper {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1150px) {
  .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contacts__wrapper {
    padding: 0;
  }
  .contacts__container {
    flex-direction: column;
    padding-right: 23px;
  }
  .contacts__info {
    width: 330px;
  }
  .contacts__title {
    padding-top: 70px;
  }
  .contacts__button-wrapper {
    display: block;
    margin-top: -95px;
  }
}
@media (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .container--desktop {
    padding-left: 225px;
  }
}
.form__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.form__title {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}
.form__type-label {
  position: relative;
}
.form__type-control {
  position: absolute;
  content: "";
  top: -9px;
  left: 0;
  width: 42px;
  height: 42px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.form__type-control-label {
  display: block;
  padding-left: 60px;
}
.form__type-input:checked + .form__type-control::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 12px;
  width: 18px;
  height: 18px;
  background-color: #62d1ba;
  border-radius: 50%;
}
.form__parametr {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.form__parametr-color {
  position: relative;
  padding-left: 60px;
}
.form__list {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  list-style-type: none;
}
.form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}
.form__type-item {
  padding-bottom: 24px;
}
.form__color-item {
  padding-top: 10px;
  padding-bottom: 40px;
}
.form__color-control {
  position: absolute;
  content: "";
  border: 2px solid #444444;
}
.form__color-input:checked + .form__color-control {
  position: absolute;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
}
.form__name-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
}
.form__user-input {
  height: 52px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #444444;
}
.form__user-input::placeholder {
  opacity: 0.3;
}
.form__info-text {
  width: 100%;
  height: 142px;
  padding: 17px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #444444;
  box-sizing: border-box;
}
.form__info-text::placeholder {
  opacity: 0.3;
}
.form__text {
  margin-top: 17px;
  margin-bottom: 30px;
}
.form__button {
  margin-bottom: 55px;
}
@media (max-width: 767px) {
  .form__fieldset {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form__buttons {
    padding-left: 30px;
    padding-right: 30px;
  }
  .form__color-control {
    top: -8px;
    left: 0;
    width: 38px;
    height: 38px;
  }
  .form__color-input:checked + .form__color-control {
    width: 38px;
    height: 38px;
    background-image: url(../../img/icon-input-mobile.svg);
  }
  .form__title::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    top: 8px;
    right: 0;
    background-color: #62d1ba;
  }
  .form__title--email::after {
    width: 182px;
  }
  .form__user-input {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .form__title {
    margin: 0;
    padding-right: 105px;
  }
  .form__description {
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }
  .form__buttons {
    display: flex;
    justify-content: space-between;
  }
  .form__list {
    font-size: 19px;
    line-height: 18px;
  }
  .form__type-item {
    padding-bottom: 50px;
  }
  .form__color {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
  }
  .form__color-item {
    padding-bottom: 45px;
  }
  .form__parametr-color {
    padding-left: 80px;
  }
  .form__color-control {
    top: -12px;
    left: 0;
    width: 52px;
    height: 52px;
  }
  .form__color-input:checked + .form__color-control {
    width: 52px;
    height: 52px;
    background-image: url(../../img/icon-input-tablet.svg);
  }
  .form__list--color {
    display: grid;
    grid-template-columns: 250px 250px;
  }
  .form__container {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
  .form__name {
    padding-top: 60px;
  }
  .form__name-item {
    width: 500px;
    flex-direction: row;
    align-items: center;
  }
  .form__parametr--name {
    padding-right: 25px;
  }
  .form__user-input {
    width: 100%;
  }
  .form__phone {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #f1f1f1;
  }
  .form__user-input--color {
    background-color: #f1f1f1;
  }
  .form__email {
    padding-bottom: 50px;
    background-color: #f1f1f1;
  }
  .form__title--email {
    min-width: 90px;
    padding-right: 50px;
  }
  .form__info {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .form__buttons {
    padding-left: 50px;
    padding-right: 50px;
  }
  .form__text {
    order: 2;
  }
}
@media (min-width: 1150px) {
  .form__title {
    padding-right: 85px;
  }
  .form__description {
    padding-right: 225px;
  }
  .form__container {
    padding-left: 100px;
  }
  .form__list--color {
    grid-template-columns: 250px 250px 250px;
  }
  .form__name-item {
    width: 680px;
  }
  .form__phone {
    padding-right: 175px;
  }
  .form__email {
    padding-right: 175px;
  }
  .form__info {
    padding-right: 175px;
  }
  .form__buttons {
    padding-left: 225px;
    padding-right: 175px;
  }
  .form__title--email {
    padding-right: 25px;
  }
}
.main-footer {
  background-color: #f1f1f1;
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main-footer__logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .main-footer__wrapper {
    width: 1050px;
  }
}
.main-header {
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .main-header--catalog {
    position: relative;
    border: none;
    background-color: #f1f1f1;
  }
  .main-header--catalog {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
}
.main-nav__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}
.main-nav__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav__toggle {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: inherit;
  cursor: pointer;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  width: 21px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--opened {
  display: flex;
  flex-direction: column;
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 20px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-nav__logo {
    height: 59px;
    padding-top: 22px;
    text-align: center;
  }
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .user-list__item {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
  }
  .main-nav__logo-container {
    order: 1;
  }
  .main-nav__logo {
    padding-top: 22px;
  }
  .main-nav__logo img {
    width: 113px;
    height: 46px;
  }
  .main-nav__site {
    display: flex;
    order: 3;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1150px) {
  .main-nav__wrapper {
    min-width: 1050px;
  }
  .main-nav__site {
    order: 1;
  }
  .main-nav__logo {
    padding-top: 8px;
  }
  .main-nav__logo img {
    width: 149px;
    height: 72px;
  }
  .main-nav__logo-container {
    order: 2;
    margin-left: -50px;
  }
}
.main {
  padding-bottom: 31px;
}
.main__image-wrapper {
  display: flex;
  justify-content: center;
  height: 283px;
  background-color: #f9f9f9;
  background-image: url(../img/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.main__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding-top: 70px;
}
.main__list {
  margin: 0;
  list-style-type: none;
}
.main__item {
  font-family: "Open Sans", "Arial", sans-serif;
}
.main__item--interior {
  background-color: #63d1bb;
}
.main__item--toys {
  background-color: #56c3b2;
}
.main__link {
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 767px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .main__title {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  .main__list {
    padding: 0;
  }
  .main__link {
    display: block;
    max-width: 55px;
    padding-left: 30px;
    padding-top: 24px;
    padding-bottom: 31px;
  }
}
@media (min-width: 768px) {
  .main__image-wrapper {
    height: 570px;
    margin-top: -75px;
    background-image: url(../img/index-background-tablet.jpg);
    background-position: 50% -60px;
    background-repeat: no-repeat;
    border-top: 1px solid #ececec;
  }
  .main__title {
    max-width: 668px;
    padding-top: 110px;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
  }
  .main__list {
    display: grid;
    grid-template-columns: 334px 334px;
  }
  .main__link {
    display: block;
    max-width: 131px;
    padding-left: 36px;
    padding-top: 25px;
    padding-bottom: 22px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .main__image-wrapper {
    background-image: url(../img/index-background-tablet@2x.jpg);
    background-size: 746px auto;
  }
}
@media (min-width: 1150px) {
  .main {
    position: relative;
    padding-bottom: 135px;
  }
  .main::after {
    position: absolute;
    content: "";
    background-image: url(../img/zigzag-line-desktop.svg);
    width: 100%;
    height: 34px;
    bottom: 115px;
    left: 0;
  }
  .main__image-wrapper {
    margin: 0 auto;
    height: 610px;
    background-image: url(../img/index-background-desktop.jpg);
    background-size: cover;
    margin-top: -90px;
    background-position: 50% -16px;
  }
  .main__title {
    margin: 0 auto;
    max-width: 700px;
    padding-top: 142px;
    font-size: 53px;
    line-height: 57px;
    text-align: center;
  }
  .main__list {
    grid-template-columns: 525px 525px;
    justify-content: center;
  }
  .main__item a {
    padding-top: 26px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
  .main__image-wrapper {
    background-image: url(../img/index-background-desktop@2x.jpg);
    background-size: 1150px auto;
  }
}
.map__iframe {
  display: none;
  width: 100%;
  height: 100%;
}
.map--js {
  background: none;
}
.map--js::after {
  display: none;
  background-image: none;
}
.map--js .map__iframe {
  display: block;
}
.map {
  position: relative;
  display: block;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  width: 100%;
  height: 454px;
  background-image: url(../../img/map-mobile.jpg);
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .map {
    background-image: url(../../img/map-mobile@2x.jpg);
  }
}
.map::after {
  position: absolute;
  content: "";
  width: 67px;
  height: 100px;
  top: 145px;
  left: 138px;
  background-image: url(../../img/map-pin.svg);
}
@media (min-width: 768px) {
  .map {
    height: 457px;
    background-image: url(../../img/map-tablet.jpg);
    background-size: cover;
  }
  .map::after {
    top: 139px;
    left: 363px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .map {
    background-image: url(../../img/map-tablet@2x.jpg);
  }
}
@media (min-width: 1150px) {
  .map {
    width: 527px;
    height: 457px;
    background-image: url(../../img/map-desktop.jpg);
    background-size: cover;
  }
  .map::after {
    top: 145px;
    left: 239px;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
  .map {
    background-image: url(../../img/map-desktop@2x.jpg);
  }
}
.page {
  height: 100%;
  min-width: 320px;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 30px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}
.page-title {
  background-color: #f1f1f1;
}
.page-title__text {
  margin: 0;
  padding-top: 73px;
  padding-bottom: 73px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-title {
    position: relative;
  }
  .page-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 24px;
    bottom: 0;
    left: 0;
    background-image: url(../../img/zigzag-line-white-tablet.svg);
  }
  .page-title__text {
    padding-bottom: 85px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .page-title__text {
    font-size: 53px;
    line-height: 57px;
  }
}
.popular-product {
  display: flex;
  position: relative;
  margin-bottom: 75px;
}
.popular-product::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
}
.popular-product__wrapper {
  display: flex;
}
.popular-product__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}
.popular-product__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
.popular-product__characteristics {
  display: flex;
  padding-bottom: 8px;
  padding-left: 0;
  flex-direction: row;
  font-size: 15px;
  line-height: 20px;
  list-style-type: none;
  color: #444444;
  border-bottom: 1px solid #ececec;
}
.popular-product__parametr {
  min-width: 97px;
}
.popular-product__price {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}
.popular-product__button-wrapper {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .popular-product {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
  .popular-product__wrapper {
    flex-direction: column;
  }
  .popular-product__container {
    padding-bottom: 28px;
  }
  .popular-product__price-wrapper {
    order: 4;
  }
  .popular-product__image-wrapper {
    padding-bottom: 25px;
  }
  .popular-product::after {
    bottom: -30px;
    height: 6px;
    background-image: url(../../img/zigzag-line-mobile.svg);
  }
}
@media (min-width: 768px) {
  .popular-product {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .popular-product__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .popular-product__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 668px;
    padding-bottom: 32px;
  }
  .popular-product__container {
    display: flex;
    flex-direction: column;
    max-width: 292px;
    padding-right: 42px;
  }
  .popular-product__price-wrapper {
    order: 4;
    margin-top: -110px;
  }
  .popular-product__subtitle {
    width: 100px;
    text-align: center;
  }
  .popular-product__parametr {
    width: 100px;
  }
  .popular-product__description {
    font-size: 17px;
    line-height: 30px;
  }
  .popular-product__price {
    font-size: 20px;
  }
  .popular-product__button {
    width: 292px;
  }
  .popular-product__image {
    width: 334px;
    height: 404px;
  }
  .popular-product::after {
    bottom: -60px;
    height: 17px;
    background-image: url(../../img/zigzag-line-tablet.svg);
  }
}
@media (min-width: 1150px) {
  .popular-product {
    display: flex;
    flex-direction: row;
  }
  .popular-product::after {
    width: 1050px;
    left: 50px;
  }
  .popular-product__container {
    padding-left: 175px;
  }
  .popular-product__image-wrapper {
    margin-top: -150px;
  }
  .popular-product__image {
    width: 525px;
    height: 636px;
  }
  .popular-product__title-wrapper {
    justify-content: flex-start;
    padding-left: 82px;
    z-index: 1;
  }
  .popular-product__title {
    order: 2;
  }
  .popular-product__subtitle {
    padding-right: 42px;
  }
  .popular-product__price-wrapper {
    padding-left: 175px;
  }
}
.product-cards__list {
  display: flex;
  margin: 0;
  padding: 30px;
  flex-direction: column;
  list-style-type: none;
}
.product-cards__item {
  padding-bottom: 30px;
}
.product-cards__link {
  display: flex;
  flex-direction: column;
}
.product-cards__container {
  padding: 28px;
  border: 1px solid #f1f1f1;
}
.product-cards__title {
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.product-cards__description {
  margin-top: 5px;
  padding-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
.product-cards__price {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
.product-cards__wrapper {
  display: flex;
  padding-top: 23px;
  border-top: 1px solid #f1f1f1;
}
.product-cards__image {
  width: 100%;
}
@media (min-width: 768px) {
  .product-cards__list {
    padding-left: 50px;
    padding-right: 50px;
  }
  .main-catalog-container {
    margin: 0 auto;
  }
  .product-cards__title {
    font-size: 20px;
  }
  .product-cards__price {
    font-size: 17px;
  }
  .product-cards__description {
    font-size: 15px;
    margin: 0;
  }
  .product-cards__container {
    display: flex;
    flex-direction: column;
  }
  .product-cards__link {
    display: grid;
    grid-template-columns: repeat(2, 334px);
  }
  .product-cards__wrapper {
    margin-top: auto;
  }
}
@media (min-width: 1150px) {
  .product-cards__list {
    display: grid;
    grid-template-columns: repeat(3, 316px);
    gap: 52px;
  }
  .product-cards__link {
    display: flex;
    flex-direction: column;
  }
  .product-cards__description {
    padding: 0;
  }
  .product-cards__container {
    min-height: 142px;
    padding-top: 25px;
    padding-left: 28px;
  }
}
.product-process {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.product-process__wrapper {
  border: 1px solid #f1f1f1;
}
.product-process__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.product-process__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}
@media (min-width: 768px) {
  .product-process__title {
    font-size: 20px;
  }
}
.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 75px;
  padding-bottom: 45px;
}
.reviews::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
}
.reviews__container {
  margin: 0;
}
.reviews__title {
  padding-bottom: 14px;
}
.reviews__text {
  margin: 0;
  padding-bottom: 33px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.reviews__author {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
}
.reviews__login {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .reviews {
    padding-left: 30px;
    padding-right: 30px;
  }
  .reviews::after {
    bottom: -30px;
    height: 6px;
    background-image: url(../../img/zigzag-line-mobile.svg);
  }
}
@media (min-width: 768px) {
  .reviews {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
  }
  .reviews__container {
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .reviews__button {
    margin-bottom: 40px;
  }
  .reviews__toggles {
    order: 3;
  }
  .reviews__text {
    font-size: 17px;
  }
  .reviews::after {
    bottom: -30px;
    height: 17px;
    background-image: url(../../img/zigzag-line-tablet.svg);
  }
}
@media (min-width: 1150px) {
  .reviews {
    width: 875px;
  }
  .reviews::after {
    width: 1050px;
    left: 50px;
  }
}
.site-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-list__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.site-list__item a {
  display: block;
  padding: 28px 76px;
  padding-bottom: 28px;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #ececec;
}
@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .site-list__item a {
    display: block;
    min-width: 167px;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 0;
    padding-bottom: 20px;
    border: none;
  }
}
@media (min-width: 1150px) {
  .site-list {
    order: 0;
  }
  .site-list__item a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 16px;
  }
  .site-list__item:not(:first-child) {
    padding-left: 35px;
  }
  .site-list__item:first-child {
    border-right: 1px solid #ececec;
  }
}
.social__list {
  list-style-type: none;
}
.title {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px;
  }
}
.user-list__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.user-list__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}
.user-list__item a {
  display: block;
  padding-top: 28px;
  padding-left: 30px;
  padding-bottom: 28px;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #ececec;
}
.user-list__item a-hover {
  opacity: 0.6;
}
.user-list__item a:last-child {
  border-bottom: 1px solid #ececec;
}
@media (max-width: 767px) {
  .user-list__icon {
    padding-right: 26px;
  }
}
@media (min-width: 768px) {
  .user-list {
    display: flex;
    order: 2;
  }
  .user-list__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .user-list__item:first-child {
    width: 82px;
    box-sizing: border-box;
  }
  .user-list__item {
    display: block;
    border-left: 1px solid #ececec;
  }
  .user-list__item a {
    padding-bottom: 32px;
    padding-top: 32px;
    border: none;
  }
  .user-list__item a:last-child {
    border: none;
  }
  .user-list__text--hidden {
    display: none;
  }
}
@media (min-width: 1150px) {
  .user-list {
    display: flex;
  }
  .user-list__item a {
    padding-top: 32px;
  }
  .user-list__icon {
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .user-sale {
    display: none;
  }
}
@media (min-width: 768px) {
  .user-sale {
    display: flex;
    order: 4;
  }
  .user-sale__list {
    display: none;
  }
  .user-sale__text {
    padding-top: 20px;
    padding-right: 0;
    padding-left: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1150px) {
  .user-sale__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .user-sale {
    display: flex;
    justify-content: space-between;
    order: 4;
    min-width: 1050px;
    padding-top: 12px;
    z-index: 2;
  }
  .user-sale__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .user-sale__item a {
    padding-right: 62px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
  }
}
/*# sourceMappingURL=style.css.map */
